REACT_APP_API_BASE_URL=http://localhost:4000/api
NEXT_PUBLIC_AUTH_ENABLED=false # true: Authentication is required for accessing certain parts of the app. false: Authentication is disabled, and all parts of the app are accessible without it.
